  /* Reset Margin and Padding */
  * {
      margin: 0px;
      padding: 0px;
  }

  /* For Loading will Be Changed After JS Execution */
  body {
      overflow: hidden;
  }

  /* Scrollbar */
  ::-webkit-scrollbar {
      width: 3.5px;
      scroll-behavior: smooth;
  }

  ::-webkit-scrollbar-track {
      background-color: var(--grey);
  }

  ::-webkit-scrollbar-thumb {
      background-color: var(--pink);
      border-radius: 7px;
  }

  ::-webkit-scrollbar-thumb:hover {
      background-color: #d7007a;
  }

  /* Common Sizes */
  h1 {
      font-size: 3rem;
  }

  h2 {
      font-size: 2.2rem;
  }

  h3 {
      font-size: 1.7rem;
  }

  h4 {
      font-size: 1.3rem;
  }

  h5 {
      font-size: 0.9rem;
  }

  p {
      font-size: 1rem;
  }

  /* To Apply Common Properties */
  .btn {
      border: none;
      outline: none;
      color: var(--bright-white);
      cursor: pointer;
      background-color: var(--pink);
  }

  /* Navigation */
  #navigation {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: var(--grey);
      position: sticky;
      top: 0px;
      width: 100%;
      z-index: 3;
      transition: all 0.2s linear;
      filter: drop-shadow(0px 0px 3px black);
  }

  /* Webplate and Tag-Line */
  .corner a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      line-height: 1.6875rem;
      color: var(--white);
      margin-bottom: -6px;
      padding: 9px 7px;
  }

  .corner h2 {
      font-size: 2.2rem;
      font-family: 'Sofia Sans', sans-serif;
      letter-spacing: -2px;
  }

  .corner small {
      font-size: 0.9rem;
      font-family: 'Sofia Sans', sans-serif;
      letter-spacing: -1px;
  }

  .corner h1,
  .corner small {
      color: var(--white);
  }

  /* Main Navigation Content Home And More */
  .nav {
      display: flex;
      align-items: center;
  }

  .nav>ul {
      display: flex;
      align-items: center;
      list-style: none;
      height: inherit;
  }

  .nav>ul>li>a {
      display: block;
      font-size: 1.2rem;
      padding: 20px 14px;
      text-decoration: none;
      color: var(--white);
      font-family: 'Courgette', cursive;
  }

  .nav>ul>li>a span {
      font-size: 0.8rem;
  }

  .nav>ul>li>a::after {
      content: "";
      height: 2px;
      width: 0%;
      display: block;
      transition: all 0.2s linear;
      background-color: var(--white);
  }

  .nav>ul>li>a:hover {
      color: var(--white);
  }

  .nav>ul>li>a:hover::after {
      width: 100%;
  }

  .nav>ul>li>a.active {
      color: var(--pink);
  }

  .nav>ul>li>a.active::after {
      width: 100%;
      background-color: var(--pink);
  }

  /* Templates Hover = Sub-Menu Drop-Down */
  .drop-down:hover .sub-menu {
      border-top: 2px solid var(--pink);
      height: unset;
  }

  /* Sub-Menu Of Templates In Navigation Bar */
  .sub-menu {
      flex-direction: column;
      position: absolute;
      box-shadow: 3px 3px 4px #1c1c1c50;
      z-index: 2;
      background-color: var(--bright-white);
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      overflow: hidden;
      height: 0px;
      transition: all 0.2s linear;
  }

  .sub-menu li a {
      display: block;
      text-decoration: none;
      color: #111111;
      font-size: 1.2rem;
      padding: 3px 11px;
      font-family: 'Courgette', cursive;
  }

  .sub-menu li a:hover {
      background-color: #dcdcdc;
      box-shadow: inset 0px 0px 1px black;
  }

  /* Hamburger Navigation */
  .ham-btn {
      display: none;
      padding: 5px 9px;
      cursor: pointer;
      background-color: var(--pink);
      color: var(--white);
  }

  #bar {
      list-style: none;
      background-color: var(--grey);
      position: absolute;
      top: 0px;
      right: 0px;
      display: flex;
      flex-direction: column;
      height: 100vh;
      width: 0vw;
      overflow: hidden;
      transition: all 1s ease;
      opacity: 0.9;
  }

  #bar li a {
      text-decoration: none;
      font-size: 1.3rem;
      color: var(--white);
      padding: 11px;
      display: block;
  }

  #bar li a::after {
      content: "";
      height: 1px;
      width: 0%;
      display: block;
      transition: all 0.7s;
      background-color: var(--pink);
      margin-top: 7px;
  }

  .close {
      display: block;
      position: absolute;
      cursor: pointer;
      color: var(--white);
      top: 0px;
      right: 0px;
      font-size: 1.3rem;
      padding: 7.5px 11px;
      transition: all 0.3s ease;
  }

  .close:hover {
      background-color: var(--pink);
      color: var(--white);
  }

  #bar li a:hover::after {
      width: 100%;
  }

  .services {
      height: 0px;
      overflow: hidden;
      transition: all 0.3s ease;
  }

  .hoverable>a span {
      position: absolute;
      right: 11px;
      transition: all 0.3s ease;
  }

  .hoverable:hover .services {
      height: 215.812px;
  }

  .hoverable:hover>a>span {
      transform: rotate(90deg);
  }

  /* Search Bar */
  .search {
      padding: 3px 7px;
  }

  .search form {
      display: flex;
  }

  #filter {
      outline: none;
      border: none;
      font-size: 0.9rem;
      padding: 3px 7px;
      border-bottom-left-radius: 7px;
      border-top-left-radius: 7px;
      color: var(--pink);
      font-family: 'Pacifico', cursive;
  }

  #filter::placeholder {
      color: var(--pink);
  }

  .search button {
      padding: 3px;
      border-top-right-radius: 7px;
      border-bottom-right-radius: 7px;
  }

  /* Hiding Clear All Button in Search */
  [type="search"]::-webkit-search-cancel-button {
      -webkit-appearance: none;
      appearance: none;
  }

  /* Toasts */
  .toast {
      background-color: #ff0090e0;
      color: var(--bright-white);
      font-size: 0.9rem;
      display: flex;
      align-items: center;
      padding: 3px 7px;
      border-bottom-left-radius: 7px;
      border-top-left-radius: 7px;
      position: fixed;
      bottom: 7px;
      right: -130%;
      z-index: 3;
      transition: all 0.3s linear;
      font-family: 'Charm', cursive;
      letter-spacing: 0.04375rem;
      overflow: hidden;
  }

  .toast h4 {
      margin-left: 3px;
  }

  .toast a {
      color: var(--bright-white);
      font-style: italic;
      font-weight: bold;
      padding-right: 3px;
      font-family: 'Sofia Sans', sans-serif;
      text-decoration: none;
      border-bottom: 1px dashed var(--bright-white);
  }

  .toast button {
      background-color: transparent;
  }

  .toast button span {
      font-size: 1rem;
      margin-top: 2px;
      margin-left: 3px;
  }

  /* Hide-Navigation Button By Default In Navigation-Bar */
  .hidenav {
      outline: none;
      border: none;
      cursor: pointer;
      align-items: center;
  }

  /* Loading Section */
  #load {
      height: 100vh;
      width: 100vw;
      position: fixed;
      top: 0px;
      z-index: 3;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: hsl(0, 0%, 10%);
  }

  .loader {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 5px solid transparent;
      border-top-color: var(--pink);
      border-radius: 100%;
      position: absolute;
  }

  .l1 {
      width: 6.25rem;
      height: 6.25rem;
      animation: spin 0.85s infinite forwards linear;
  }

  .l2 {
      width: 4.6875rem;
      height: 4.6875rem;
      animation: spin 0.95s infinite forwards linear;
  }

  .l3 {
      width: 3.4375rem;
      height: 3.4375rem;
      animation: spin 1.05s infinite forwards linear;
  }

  @keyframes spin {
      from {
          transform: rotateZ(0deg);
      }

      to {
          transform: rotateZ(360deg);
      }
  }

  /* Pre-Fotter + Footer */

  /* Main Two Sections */
  .fsecs {
      display: flex;
      align-items: center;
      color: var(--white);
      font-family: 'itim', cursive;
  }

  /* Pre-Footer */
  .fsecs:first-child {
      background-color: #23282d;
      padding: 11px 5px;
      height: 250px;
  }

  .fsecs:first-child>div {
      display: flex;
      justify-content: space-around;
      width: 100%;
  }

  /* Footer */
  .fsecs:last-child {
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 11px 21px;
      background-color: var(--grey);
  }

  /* Pre-Footer Sections */
  .prefsecs {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      line-height: 3rem;
  }

  .prefsecs ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      line-height: 1.7rem;
  }

  .prefsecs ul li a {
      text-decoration: none;
      color: var(--white);
      font-size: 1.10025rem;
      font-family: 'itim', cursive;
  }

  /* About Us Section */
  .prefsecs:last-child {
      width: 30%;
  }

  /* For About Us Section */
  .prefsecs p {
      line-height: 1.3rem;
  }

  /* Social Icons In Footer */
  .social {
      display: flex;
      align-items: center;
      justify-content: flex-end;
  }

  .social a {
      display: flex;
      align-items: center;
      margin: 0px 5px;
  }

  .social a img {
      width: 1.875rem;
      transition: all 0.2s linear;
  }

  .social a img:hover {
      filter: brightness(0.7);
  }

  /* Footer */
  .fsecs>h4,
  .fsecs>h5 {
      font-family: 'Sofia Sans', sans-serif;
  }

  /* 4K */
  @media screen and (min-width: 1850px) {
    h1{
        font-size: 4rem;
    }
    h2{
        font-size: 3.5rem;
    }
    .corner h2{
        font-size: 2.5rem;
    }
    h3{
        font-size: 2.1rem;
    }
    h4{
        font-size: 1.7rem;
    }
    p, #filter, h5{
        font-size: 1.3rem;
    }
    .prefsecs ul li a, .nav ul li a{
        font-size: 1.5rem;
    }
    .corner small{
        font-size: 1rem;
    }
    .prefsecs{
        line-height: 4rem;
    }
    .prefsecs ul{
        line-height: 2rem;
    }
    .prefsecs p{
        line-height: 1.7rem;
    }
  }

  /* Tablet */
  @media screen and (max-width: 977px) {
      h1 {
          font-size: 2.9rem;
      }

      .corner h2,
      h2 {
          font-size: 1.9rem;
      }

      h3 {
          font-size: 1.4rem;
      }

      h4 {
          font-size: 1.1rem;
      }

      h5 {
          font-size: 0.5rem;
      }

      .nav>ul>li>a {
          font-size: 0.9rem;
          padding: 20px 7px;
      }

      #filter,
      .corner small {
          font-size: 0.75rem;
      }

      .prefsecs ul li a,
      .sub-menu li a {
          font-size: 1rem;
      }

      .social a img {
          width: 1.2rem;
      }
  }

  /* Hamburger Menu */
  @media screen and (max-width: 739px) {
      .nav {
          display: none;
      }

      .ham-btn {
          display: block;
      }

      .corner {
          display: none;
      }
      .l1 {
        width: 5.25rem;
        height: 5.25rem;
    }
  
    .l2 {
        width: 3.6875rem;
        height: 3.6875rem;
    }
  
    .l3 {
        width: 2.4375rem;
        height: 2.4375rem;
    }
  }

  @media screen and (max-width: 529px) {
      .prefsecs:last-child {
          display: none;
      }

      .social {
          display: none;
      }

      .detail {
          flex-direction: column;
      }

      h1 {
          font-size: 1.9rem;
      }

      .corner h2,
      h2 {
          font-size: 1.1rem;
      }

      h3 {
          font-size: 0.9rem;
      }

      h4,
      .toast button span {
          font-size: 0.7rem;
      }

      h5,
      #filter {
          font-size: 0.5rem;
      }

      #bar li a,
      .close {
          font-size: 1rem;
          padding: 7px;
      }

      .close {
          padding: 7px 9px;
      }

      #filter {
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
      }

      .search button {
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
      }
  }